<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Мой сайт</title>
    <link rel="stylesheet" href="{% static 'css/style-account.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani&display=swap" rel="stylesheet">
</head>
<body>
    <header id="teacher">
        <nav>
            <a href="{% url 'home' %}"><span id="mentop-com">MenTOP.com</span></a>
            <div id="nav-text-div">
                <a href="{% url 'mentor_profile' %}"><span>Account</span></a>
                <a href="{% url 'my_subscribers' %}"><span>My subscribers</span></a>
                <a href="{% url 'logout' %}"><span>Leave</span></a>
                <a href=""><span>Money: 5$</span></a>
            </div>
        </nav>
    </header>
    </section>
    <section id="early-subs">
        <a href="">
            <div class="card-profile">
                <img src="{% static 'img/avatars/bogdan.png' %}">
                <p>Name: Bogdan Travin Vitalievich</p>
                <p>Rate: 5/5</p>
                <center><p>Online</p></center>
            </div>
        </a>
        <a href="">
            <div class="card-profile">
                <img src="{% static 'img/avatars/bogdan.png' %}">
                <p>Name: Bogdan Travin Vitalievich</p>
                <p>Rate: 5/5</p>
                <center><p>Online</p></center>
            </div>
        </a>
        <a href="">
            <div class="card-profile">
                <img src="{% static 'img/avatars/bogdan.png' %}">
                <p>Name: Bogdan Travin Vitalievich</p>
                <p>Rate: 5/5</p>
                <center><p>Online</p></center>
            </div>
        </a>
        <a href="">
            <div class="card-profile">
                <img src="{% static 'img/avatars/bogdan.png' %}">
                <p>Name: Bogdan Travin Vitalievich</p>
                <p>Rate: 5/5</p>
                <center><p>Online</p></center>
            </div>
        </a>
        <a href="">
            <div class="card-profile">
                <img src="{% static 'img/avatars/bogdan.png' %}">
                <p>Name: Bogdan Travin Vitalievich</p>
                <p>Rate: 5/5</p>
                <center><p>Online</p></center>
            </div>
        </a>
    </section>
</body>
</html>