<!doctype html>
{% load static %}
{% load widget_tweaks %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Мой сайт</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani&display=swap" rel="stylesheet">
</head>
<body>
    <div id="diamond"></div>
    <div id="circle"></div>
    <header>
            <div class="navbar">
                <nav class="main-nav">
                    <a href="{% url 'home' %}" class="tittle"><span class="tittle">MenTOP.com</span></a>
                    <a href="{% url 'home' %}"><span>Home</span></a>
                    <a href="{% url 'about' %}"><span>About</span></a>
                    <a href="{% url 'login' %}"><span>Sing in</span></a>
                    <a href="{% url 'contact' %}"><span>Contact</span></a>
                </nav>
            </div>
    </header>
    <center><form method="POST" class="sing-in-form">
        <p>Registration</p>
        {% csrf_token %}
        {% render_field form.username placeholder="Login" %}<br>
        {% render_field form.password1 placeholder="Password" type="name" %}<br>
        {% render_field form.password2 placeholder="Repeat password" type="name" %}<br>
        <button type="submit">Enter</button>
    </form></center>
</body>
</html>